.App {
  text-align: center;
  border: 1px solid blue;
  padding: 20px;
  width: 150px;
  height: 90px;
  margin: 20px auto 0;
  border-radius: 15px;
  background-color: #8ad3fc;
}
.error {
  color: red;
  height: 90px;
}